<div class="me_section">
	<%= image_tag "me_website.png", style: "float: left; width: 250px; margin-left: 100px; margin-top: 10px;" %>
	<p style="float: left; width: 430px; margin-left: 50px;">
		Bonjour, Je m'appelle <span class="myorange">Fabrice</span>.<br><br>

		I graduated in 2011 with a <span class="myorange">Master's Degree</span> in a top five IT engineering schools in France. <br><br>My primary focus are <span class="myorange">Ruby on Rails</span>, iOS <span class="myorange">Swift</span> and all technologies that gravitate around.<br><br>
		<span class="myorange">Team-player</span> inside and outside of work, I'm a real flag football and soccer enthusiast on my spare-time.		
	</p>	
</div>